WebContent/WEB-INF/lib/collections-generic-4.01.jar
WebContent/WEB-INF/lib/commons-logging-1.1.1.jar
WebContent/WEB-INF/lib/concurrentlinkedhashmap-lru-1.2.jar
WebContent/WEB-INF/lib/ejml-0.24.jar
WebContent/WEB-INF/lib/extjwnl-1.6.4.jar
WebContent/WEB-INF/lib/gson-2.2.4.jar
WebContent/WEB-INF/lib/guava-17.0.jar
WebContent/WEB-INF/lib/jaws-bin.jar
WebContent/WEB-INF/lib/joda-time.jar
WebContent/WEB-INF/lib/jollyday.jar
WebContent/WEB-INF/lib/jruby-complete-9.0.0.0.pre2.jar
WebContent/WEB-INF/lib/json-20090211.jar
WebContent/WEB-INF/lib/junit-4.10.jar
WebContent/WEB-INF/lib/libstemmer.jar
WebContent/WEB-INF/lib/lombok.jar
WebContent/WEB-INF/lib/lucene-core-3.6.0.jar
WebContent/WEB-INF/lib/maxent-3.0.0.jar
WebContent/WEB-INF/lib/mysql-connector-java-5.0.3-bin.jar
WebContent/WEB-INF/lib/opennlp-tools-1.5.0.jar
WebContent/WEB-INF/lib/stanford-corenlp-3.4.1.jar
WebContent/WEB-INF/lib/stanford-corenlp-3.4.1-models.jar
WebContent/WEB-INF/lib/stanford-ner.jar
WebContent/WEB-INF/lib/stanford-parser.jar
WebContent/WEB-INF/lib/weka.jar
DEPLOY_README.txt
